//primary colors
$strong-cyan : hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);


//neutral colors
$dark-grayish-blue : hsl(210, 10%, 33%);
$grayish-blue : hsl(201, 11%, 66%);

// font weights
$light : 400;
$bolder : 600;